* {
    box-sizing: border-box;
}

body {
    background: deepskyblue;
    background: -webkit-linear-gradient(deepskyblue, lightblue) fixed;
}

.headerArea {
    margin: 80px auto 40px;
    width: 50%;
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
    font-weight: bolder;
}

img {
    height: 275px;
    width: 275px;
    margin-top: 20px;
}

.instructions {
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
    font-weight: bold;
    font-size: 25px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

li {
    text-align: center;
}

h1 {
    margin: 10px;
    padding-top: 60px;
    text-align: center;
    color: purple;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

input {
    margin: 10px;
}



.buttonArea {
    margin: auto;
    width: 70%;
    text-align: center;
    align-items: center;
}

#myButton {
    height:100px;
    width: 80%;
    margin: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
    background-color: lightgreen;
    color: purple;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, serif;
    font-weight: bold;
}

#madLib {
    margin: auto;
    padding: 80px;
    padding-bottom: 25px;
    color: purple;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
   visibility: hidden;  
}

.spanClass {
    font-weight: bold;
}

#the-End {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-weight: bold;
    visibility: hidden;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

#leoBed {
    margin: auto;
    width: 400px;
    height: 320px;
    align-self: center;
    visibility: hidden;
}

#footer-paragraph {
    color: purple;
    font-size: 20px;
}

#bottom-tag {
    color: purple;
    font-size: 20px;
}