* {
    box-sizing: border-box;
}

body {
    background: deepskyblue;
    background: -webkit-linear-gradient(deepskyblue, lightblue) fixed;
}

#headerArea {
    margin: 80px auto 40px;
    width: 80%;
    text-align: center;
    border: 5px solid purple;
    border-radius: 40px 80px 40px 40px;
    font-size: 60px;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
    font-weight: bolder;
    background: lightskyblue;
    background: -webkit-linear-gradient(lightskyblue, cyan);
    box-shadow: 5px 5px 30px darkorchid;
}

img {
    height: 275px;
    width: 275px;
    margin-top: 20px;
    padding-top: 20px;
}

#main-Container {
    margin: 80px;
    margin-bottom: 20px;
    border: 5px solid purple;
    
    padding: 30px;
    text-align: center;
    border-radius: 40px 80px 40px 40px;
    box-shadow: 5px 5px 30px darkorchid;
    background: deepskyblue;
    background: -webkit-linear-gradient(deepskyblue, cyan);


}

.instructions {
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

li {
    text-align: center;
}

h1 {
    margin: 10px;
    padding-top: 60px;
    text-align: center;
    color: purple;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

input {
    margin: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px purple;
}



.buttonArea {
    margin: auto;
    width: 70%;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

#click-to {
    font-size: 20px;
}

#myButton {
    height:100px;
    width: 60%;
    margin: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
    background-color: lightgreen;
    color: purple;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, serif;
    font-weight: bold;
    border: 3px solid purple;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
}

#madLib {
    margin: auto;
    padding: 80px;
    padding-bottom: 25px;
    color: purple;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
  /* visibility: hidden; */
  display: none;  
}

.spanClass {
    font-weight: bold;
}

#the-End {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-weight: bold;
    /*visibility: hidden; */
    display: none;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

#leoBed {
    margin: auto;
    width: 400px;
    height: 320px;
   /* visibility: hidden; */
   display: none;
}

#footer-paragraph {
    padding-top: 30px;
    color: purple;
    font-size: 20px;
}

#bottom-tag {
    color: purple;
    font-size: 20px;
}

#reset-button {
    margin: auto;
    width: 40%;
    color: purple;
    height: 60px;
    font-size: 20px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 8px;
}

#counter-Area {
    padding-top: 20px;
}

